.footer {
  background-color: #03045e;
  color: white;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

/* CSS for the main image */
.main-img {
  width: 100%;
  /* Adjust the width to fill the container */
  padding: 0;
  /* Remove padding */
}

/* CSS for the block */
.block {
  width: 100%;
  background-color: #0077b6;
  /* Add background color */
  color: white;
  /* Set text color to white */
  padding: 10px;
  /* Add padding */
  font-size: 24px;
  /* Increase font size */
}

/* CSS for the main description */
.main_description {
  text-align: center;
  /* Center align text */
}

.main_description h2 {
  font-size: 28px;
  /* Increase font size of h2 */
}

.main_description p {
  font-size: 18px;
  /* Increase font size of paragraph */
}

/* Remove margin from body */
body {
  margin: 0;
}

/* CSS for the M Sport section */
.m-sport {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Add space between image and text */
  padding: 20px;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  /* New font family */
}

.m-sport p {
  flex: 1;
  padding: 0 20px;
  max-width: 50%;
  /* Limit text width to half the container */
  font-size: 20px;
  /* Increase font size */
  letter-spacing: 1px;
  /* Add font spacing */
}

.m-sport img {
  max-width: 50%;
}

/* CSS for the grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  position: relative;
  background-color: #f9f9f9;
  /* Light background color for grid items */
  padding: 20px;
  border-radius: 10px;
  /* Rounded corners for grid items */
  display: flex;
  flex-direction: column;
  /* Align items vertically */
  justify-content: space-between;
  /* Add space between elements */
}

.grid-item img {
  max-width: 100%;
  /* Ensure the image doesn't exceed its container */
  height: auto;
  /* Maintain the aspect ratio */
  display: block;
  /* Ensure the image is a block element */
  margin: 0 auto;
  /* Center the image horizontally */
}

.grid-item-content {
  flex-grow: 1;
  /* Grow to fill available space */
}

.grid-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.grid-item p {
  font-size: 16px;
  line-height: 1.5;
  /* Increase line height for better readability */
  margin-bottom: 20px;
  /* Add space below paragraphs */
}

.button-container {
  margin-top: auto;
  /* Align buttons to the bottom */
}

.button {
  width: 100%;
  /* Ensure buttons take full width of grid items */
  padding: 10px 20px;
  background-color: #48cae4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0077b6;
}

.bottom {
  background-color: #0077b6;
  /* Background color */
  color: white;
  /* Text color */
  text-align: center;
  /* Center align text */
  padding: 20px;
  /* Add padding */
}

.bottom h2 {
  font-size: 24px;
  /* Font size for heading */
}

.bottom p {
  font-size: 16px;
  /* Font size for paragraph */
  margin-bottom: 10px;
  /* Add some bottom margin */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  /* Add a bottom border */
}

.logo {
  color: black;
}

.nav-links a {
  color: black;
  margin-right: 20px;
}

.logout a {
  display: flex;
  color: black;
  justify-content: flex-end;
  align-items: end;
}
